@import "../../assets/styles/theme.css";

.pagination {
  display: flex;
  position: relative;
  justify-content: center;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: white;
  background-color: white;
  color: var(--danger);
  cursor: pointer;
  padding: 10px 2%;
}

button:hover {
  background-color: var(--warning);
  color: white;
}

button:active {
  background-color: var(--warning);
  color: white;
}
