.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    align-items: stretch;
}

.centeredMessage {
    min-height: 100vh;
    display: flex;
    color: red;
    font-size: 60px;
    margin-top: 10%;
}
