.img{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    height: 500px;
    z-index: -1;
}

.box{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: white;
    min-height: 100vh;
    display: flex;
}

.name{
    height: auto;
    width: 90%;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description{
    width: 90%;
    height: auto;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.header{
    height: auto;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.appearance {
  height: auto;
  font-size: 20px;
  cursor: pointer;
}

.appearance:hover {
  text-decoration: underline;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
  }
  
  .horizontalContainer {
    margin: 40px;
    display: flex;
    width: 50%;
    gap: 35%;
  }
