.loader_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  display: flex;
  color: var(--red);
  font-size: 60px;
  margin-top: 20%;
}
