  .header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: var(--danger);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.logo {
    position: relative;
    width: 100px;
    height: 45%;
    left: 20px;
    background: url(../../assets/images/marvel_logo.svg)
    no-repeat center;
    background-size: cover;
}
    
.navigation_container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
    
.navigation_link {
    position: relative;
    color: var(--warning);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    font-weight: bold;
    margin-right: 20px;
}

.navigation_link {
    text-decoration: none;
  }
  
.navigation_link.active {
    text-decoration: underline;
}
