body {
    margin: 0px;
    height: 100%;
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
      'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
      'Source Han Sans CN', sans-serif;
    background-color: var(--background-color);
}
